.hero{
    width: 100%;
    /* height: auto; */
    min-height: 200vh;
    background: linear-gradient(rgba(8,0,38,0.7),rgba(8,0,38,0.7)),
    url('../../assets/temple.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    display: flex;
    align-items:center;
    justify-content:center;
    
  
    /* width: auto; */
    /* background-size: cover; */
    /* background-size: cover;
    background-position: center; */
}


.hero-text{
    text-align: center;
    /* align-self:baseline; */
    max-width: 800px;
}

.hero-text h1{
    font-size: 80px;
    font-weight: 200;
    color: aliceblue;
}

.hero-text p{
    max-width: 700px;
    padding: 50px;
    font-size: 30px;
    margin: 20px auto ;
    line-height: 1.4;   
    color: aliceblue;
}

/* media query */
@media (max-width: 1060px){
    .hero-text h1{
        font-size: 40px;
    }
}
@media (max-width: 810px){
    .hero-text h1{
        font-size: 30px;
        max-width: 400px;
        margin: auto;
    }
    .hero-text p{
        font-size: 14px;
        margin: 15px auto 30px;
    } 
}